In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import statsmodels.api as sm

Problem 1 : (a) ~ (d) Linear Regression using 'Price','Urban','US'

In [10]:
data = pd.read_csv("Carseats.csv")
data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [11]:
# data['Urban'] = data['Urban'].map({'Yes': 1, 'No': 0})
# data['US'] = data['US'].map({'Yes': 1, 'No': 0})

data = pd.get_dummies(data, columns=['Urban', 'US'], drop_first=True)
data.head(10)

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban_Yes,US_Yes
0,9.50,138,73,11,276,120,Bad,42,17,1,1
1,11.22,111,48,16,260,83,Good,65,10,1,1
2,10.06,113,35,10,269,80,Medium,59,12,1,1
3,7.40,117,100,4,466,97,Medium,55,14,1,1
4,4.15,141,64,3,340,128,Bad,38,13,1,0
5,10.81,124,113,13,501,72,Bad,78,16,0,1
6,6.63,115,105,0,45,108,Medium,71,15,1,0
7,11.85,136,81,15,425,120,Good,67,10,1,1
8,6.54,132,110,0,108,124,Medium,76,10,0,0
9,4.69,132,113,0,131,124,Medium,76,17,0,1

In [12]:
data = data.rename(columns={'Urban_Yes': 'Urban', 'US_Yes': 'US'})
X = data[['Price', 'Urban', 'US']]
X.head()

   Price  Urban  US
0    120      1   1
1     83      1   1
2     80      1   1
3     97      1   1
4    128      1   0

In [13]:
Y = data['Sales']
Y.head()

0     9.50
1    11.22
2    10.06
3     7.40
4     4.15
Name: Sales, dtype: float64

In [15]:
X_t = sm.add_constant(X)
reg = sm.OLS(Y, X_t).fit() # Linear Regression
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.239
Model:                            OLS   Adj. R-squared:                  0.234
Method:                 Least Squares   F-statistic:                     41.52
Date:                Wed, 04 Oct 2023   Prob (F-statistic):           2.39e-23
Time:                        15:21:32   Log-Likelihood:                -927.66
No. Observations:                 400   AIC:                             1863.
Df Residuals:                     396   BIC:                             1879.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         13.0435      0.651     20.036      0.000      11.764      14.323
Price         -0.0545      0.005    -10.389      0.000      -0.065      -0.044
Urban         -0.0219      0.272     -0.081      0.936      -0.556       0.512
US             1.2006      0.259      4.635      0.000       0.691       1.710
==============================================================================
Omnibus:                        0.676   Durbin-Watson:                   1.912
Prob(Omnibus):                  0.713   Jarque-Bera (JB):                0.758
Skew:                           0.093   Prob(JB):                        0.684
Kurtosis:                       2.897   Cond. No.                         628.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Problem 1 : (e) Code for linear reg using only 'Price' and 'US'

In [16]:
X = data[['Price', 'US']]
Y = data['Sales']

X_t = sm.add_constant(X)
reg = sm.OLS(Y, X_t).fit() # Linear Regression
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.239
Model:                            OLS   Adj. R-squared:                  0.235
Method:                 Least Squares   F-statistic:                     62.43
Date:                Wed, 04 Oct 2023   Prob (F-statistic):           2.66e-24
Time:                        17:45:11   Log-Likelihood:                -927.66
No. Observations:                 400   AIC:                             1861.
Df Residuals:                     397   BIC:                             1873.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         13.0308      0.631     20.652      0.000      11.790      14.271
Price         -0.0545      0.005    -10.416      0.000      -0.065      -0.044
US             1.1996      0.258      4.641      0.000       0.692       1.708
==============================================================================
Omnibus:                        0.666   Durbin-Watson:                   1.912
Prob(Omnibus):                  0.717   Jarque-Bera (JB):                0.749
Skew:                           0.092   Prob(JB):                        0.688
Kurtosis:                       2.895   Cond. No.                         607.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Problem 2 : (a)

In [18]:
import pandas as pd
import random
import statsmodels.api as sm
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [33]:
data = pd.read_csv('Default.csv')
data

     default student      balance        income
0         No      No   729.526495  44361.625074
1         No     Yes   817.180407  12106.134700
2         No      No  1073.549164  31767.138947
3         No      No   529.250605  35704.493935
4         No      No   785.655883  38463.495879
...      ...     ...          ...           ...
9995      No      No   711.555020  52992.378914
9996      No      No   757.962918  19660.721768
9997      No      No   845.411989  58636.156984
9998      No      No  1569.009053  36669.112365
9999      No     Yes   200.922183  16862.952321

[10000 rows x 4 columns]

In [34]:
# Step 1 : Split the sample set into a training set and a validation set.

X = data[['balance', 'income']]  
Y = data['default'] 

Y = pd.get_dummies(Y, drop_first = True)
X.head()

       balance        income
0   729.526495  44361.625074
1   817.180407  12106.134700
2  1073.549164  31767.138947
3   529.250605  35704.493935
4   785.655883  38463.495879

In [35]:
Y.head()

   Yes
0    0
1    0
2    0
3    0
4    0

In [36]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
print("Training Data : ",len(X_train))
print("Test Data : ",len(X_test))

Training Data :  8000
Test Data :  2000

In [37]:
# Step 2 : Fit a multiple logistic regression model using only the training observations.

X_train = sm.add_constant(X_train)
model = sm.Logit(Y_train, X_train).fit() 
print(model.summary())

Optimization terminated successfully.
         Current function value: inf
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:                    Yes   No. Observations:                 8000
Model:                          Logit   Df Residuals:                     7997
Method:                           MLE   Df Model:                            2
Date:                Wed, 04 Oct 2023   Pseudo R-squ.:                     inf
Time:                        22:06:27   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                        0.0000
Covariance Type:            nonrobust   LLR p-value:                     1.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -11.8297      0.506    -23.387      0.000     -12.821     -10.838
balance        0.0058      0.000     22.038      0.000       0.005       0.006
income      2.075e-05   5.64e-06      3.682      0.000    9.71e-06    3.18e-05
==============================================================================

Possibly complete quasi-separation: A fraction 0.16 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

/Users/j/anaconda3/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2383: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/Users/j/anaconda3/lib/python3.11/site-packages/statsmodels/discrete/discrete_model.py:2441: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q * linpred)))
/Users/j/anaconda3/lib/python3.11/site-packages/statsmodels/base/model.py:595: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warnings.warn('Inverting hessian failed, no bse or cov_params '
/Users/j/anaconda3/lib/python3.11/site-packages/statsmodels/base/model.py:595: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warnings.warn('Inverting hessian failed, no bse or cov_params '

In [38]:
# Step 3 : Obtain a prediction of default status for each individual in the validation set

X_test = sm.add_constant(X_test)
pred = model.predict(X_test) 
pred

6252    0.055644
4684    0.001548
1731    0.000011
4742    0.000028
4521    0.052137
          ...
6412    0.050064
8285    0.003913
7853    0.000014
1095    0.027754
6929    0.000116
Length: 2000, dtype: float64

In [39]:
# classify the individual to the default category if the posterior probability is greater than 0.5
threshold = 0.5
Y_pred = (pred > threshold).astype(int)
Y_pred

6252    0
4684    0
1731    0
4742    0
4521    0
       ..
6412    0
8285    0
7853    0
1095    0
6929    0
Length: 2000, dtype: int64

In [40]:
# Step 4 : Compute the validation set error
1 - accuracy_score(Y_test, Y_pred)

0.03049999999999997

In [42]:
confusion_matrix(Y_test, Y_pred)

array([[1921,   10],
       [  51,   18]])

Problem 2 : (c) K fold CV

In [56]:
# shuffle - split - run on each split
# before passing data to function, convert to dummy variables first

def K_Fold_CV (X, Y, k) :
    
    np.random.seed(42) # set seed
    shuffled_index = np.random.permutation(len(X))
    X = X.iloc[shuffled_index] # data shuffling
    Y = Y.iloc[shuffled_index]
        
    shuffled_X = X.reset_index(drop=True) # reset index
    shuffled_Y = Y.reset_index(drop=True) 
    
    # ex) k = 5     
    fold_size = int(len(X) / k)     # num of data in each fold
    split_point = [fold_size * i for i in range(k)]
    split_point.append(len(X))
    
    step_errors = []    # to store each step errors
    index = [i for i in range(len(shuffled_X))]
    
    # K-fold CV
    for i in range (k) :
        print("Cross Validation #{} : ----------".format(i+1))
        
        # split train and val data
        val_idx = index[split_point[i] : split_point[i+1]]
        X_val = shuffled_X.iloc[val_idx]
        Y_val = shuffled_Y.iloc[val_idx]
        
        train_idx = [idx for idx in index if idx not in val_idx]
        X_train = shuffled_X.iloc[train_idx]
        Y_train = shuffled_Y.iloc[train_idx]
        
        # add constant
        X_train = sm.add_constant(X_train)
        X_val = sm.add_constant(X_val)
        
        # train
        model = sm.Logit(Y_train, X_train).fit() # logistic regression model
        pred = model.predict(X_val)
        threshold = 0.5
        Y_pred = (pred > threshold).astype(int)
        
        # get errors
        error_rate = 1 - accuracy_score(Y_val, Y_pred)
        step_errors.append(error_rate)
        print("Error : ", error_rate)
                    
    return sum(step_errors) / float(k)

In [58]:
import warnings
warnings.filterwarnings('ignore')

In [59]:
# Perform 5-fold CV with 'balance', income
data = pd.read_csv('Default.csv')
X = data[['balance', 'income']]  
Y = data['default'] 
Y = pd.get_dummies(Y, drop_first = True)

print(K_Fold_CV(X, Y, 5))

Cross Validation #1 : ----------
Optimization terminated successfully.
         Current function value: inf
         Iterations 10
Error :  0.03049999999999997
Cross Validation #2 : ----------
Optimization terminated successfully.
         Current function value: inf
         Iterations 10
Error :  0.024499999999999966
Cross Validation #3 : ----------
Optimization terminated successfully.
         Current function value: inf
         Iterations 10
Error :  0.022499999999999964
Cross Validation #4 : ----------
Optimization terminated successfully.
         Current function value: inf
         Iterations 10
Error :  0.029000000000000026
Cross Validation #5 : ----------
Optimization terminated successfully.
         Current function value: inf
         Iterations 10
Error :  0.025000000000000022
0.02629999999999999

Problem 2 : (d) CV with 'student' variable

In [64]:
# Perform 5-fold CV with additional feature 'student'
data = pd.read_csv('Default.csv')
data = pd.get_dummies(data, columns=['student', 'default'], drop_first=True)

In [65]:
data = data.rename(columns={'student_Yes': 'student', 'default_Yes': 'default'})
data

          balance        income  student  default
0      729.526495  44361.625074        0        0
1      817.180407  12106.134700        1        0
2     1073.549164  31767.138947        0        0
3      529.250605  35704.493935        0        0
4      785.655883  38463.495879        0        0
...           ...           ...      ...      ...
9995   711.555020  52992.378914        0        0
9996   757.962918  19660.721768        0        0
9997   845.411989  58636.156984        0        0
9998  1569.009053  36669.112365        0        0
9999   200.922183  16862.952321        1        0

[10000 rows x 4 columns]

In [66]:
X = data[['balance', 'income', 'student']]  
Y = data['default'] 

print(K_Fold_CV(X, Y, 5))

Cross Validation #1 : ----------
Optimization terminated successfully.
         Current function value: inf
         Iterations 10
Error :  0.03049999999999997
Cross Validation #2 : ----------
Optimization terminated successfully.
         Current function value: inf
         Iterations 10
Error :  0.025000000000000022
Cross Validation #3 : ----------
Optimization terminated successfully.
         Current function value: inf
         Iterations 10
Error :  0.02300000000000002
Cross Validation #4 : ----------
Optimization terminated successfully.
         Current function value: inf
         Iterations 10
Error :  0.02949999999999997
Cross Validation #5 : ----------
Optimization terminated successfully.
         Current function value: inf
         Iterations 10
Error :  0.026499999999999968
0.02689999999999999